* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #2b2d42;
    color: #edf2f4;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1.5rem;
    font-size: 9vmin;
    background-color: #8d99ae;
    color: #fdf0d5;
}

#reset, #new-btn {
    height: 5vmin;
    width: 18vmin;
    background-color: black;
    color: #edf2f4;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
}

.hide {
    visibility: hidden ;
}

/* Responsive styling for mobile */
@media (max-width: 768px) {
    .container {
        height: 70vh;
        padding: 1rem;
    }

    .game {
        height: 70vmin;
        width: 70vmin;
        gap: 1.5vmin;
    }

    .box {
        height: 22vmin;
        width: 22vmin;
        font-size: 11vmin;
    }

    #reset, #new-btn {
        height: 6vmin;
        width: 20vmin;
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .container {
        height: 70vh;
        padding: 1rem;
    }

    .game {
        height: 90vmin;
        width: 90vmin;
        gap: 2.5vmin;
    }

    .box {
        height: 25vmin;
        width: 25vmin;
        font-size: 13vmin;
    }

    #reset, #new-btn {
        height: 7vmin;
        width: 22vmin;
        font-size: 0.8rem;
    }
}
